# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment files
.env

# Data folders
data/*
!data/processed/
!data/processed/*.csv
model/
models/
logs/

# ML artifacts
*.joblib
*.npy
*.npz
